/* Coolors Exported Palette - https://coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e */
:root {
    --light: #d8dbe2ff;
    --light-grey: #a9bcd0ff;
    --light-blue: #58a4b0ff;
    --grey: #373f51ff;
    --dark: #1b1b1eff;
}

html {
    color: var(--dark);
    background-color: var(--light-grey);
}

/* TODO responsive */
.container {
    margin: auto;
    max-width: 800px;
    min-width: 600px;
}

.nav-banner {
  background-color: var(--light);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.navbar {
    display:flex;
    align-items: center;

  a {
    color: var(--dark);
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      display:inline;
      margin: 0 0 0 2rem;
    }
  }
  .nav-icons {
    margin-left: auto;
  }
}

.footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 1px;
}