/* Coolors Exported Palette - https://coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e */
:root {
    --light: #d8dbe2ff;
    --light-grey: #a9bcd0ff;
    --light-blue: #58a4b0ff;
    --grey: #373f51ff;
    --dark: #1b1b1eff;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Serif Pro";
  font-size: 18px;
}

html {
    color: var(--dark);
    background-color: var(--light-grey);
}

a {
  color: var(--grey);
  text-decoration: underline;
}

.main-body {
  padding-top: 1rem;
  background-color: var(--light-grey);
}

.container {
  max-width: 800px;
}

button {
  background-color: var(--light-grey);
  color: var(--dark);
  border: solid 2px;
  border-radius: 8px;
  &:hover, &:active {
    background-color: var(--light-blue)
  }
}

.skip-to-content-link {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;

  &:focus {
    background-color: var(--dark);
    color: var(--light);
    left: 0;
    top: 0;
    padding: 3px;
  }
}

.nav-banner {
  background-color: var(--light);
  padding: 1rem 0;
  margin-bottom: 0;
}

.navbar {
  a {
    text-decoration: none;  
    &:hover {
      color: var(--dark);
    }
  }
}

.nav-active {
  text-shadow: 1px 0px 0px var(--dark);
}

.nav-link {
  color: var(--dark);
  border-left: solid 1px;

  &:hover, &:focus {
    text-decoration: none;
    text-shadow: 1px 0px 0px var(--dark);
    color: var(--dark);
  }
}

.nav-icons {
  margin-left: auto;

  a {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--light-grey);
  
    &:hover, &:focus {
      color: var(--light-blue)
    }
  }
}

.footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 1px;

  a {
    text-decoration: underline;
    &:hover, &:focus {
      color: var(--dark);
    }
  }
}

#poem {
  white-space: pre-wrap;
  font-size: 0.8em;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid;
}

.headshot {
  border-radius: 50%;
  margin-right: 1rem;
}
.about-card {
  display:flex;
  align-items: center;

  strong {
    font-size: 1.3rem;
  }
}

.contact-card {
  img {
    margin-left: 0.5rem;
  }
}
